<header class="main-header">

  <!-- Logo -->
  <a href="admin" class="logo">
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini"><b>C</b>Qz</span>
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg"><b>Cogni</b>Quiz</span>
  </a>

  <!-- Header Navbar: style can be found in header.less -->
  <nav class="navbar navbar-static-top headsize " style="height:50px;">
    <!-- Sidebar toggle button-->
   
    <div>
      <a class="sidebar-toggle " data-toggle="push-menu" role="button">
        <span class="sr-only ">Toggle navigation</span>
      </a>
    </div>
  
    <!-- Navbar Right Menu -->
    <div class="navbar-custom-menu ">
      <ul class="nav navbar-nav">
        <!-- Messages: style can be found in dropdown.less-->

        <!-- Notifications: style can be found in dropdown.less -->

        <!-- Tasks: style can be found in dropdown.less -->

        <!-- User Account: style can be found in dropdown.less -->
        <!-- <li class="dropdown user user-menu">
          <a class="dropdown-toggle" data-toggle="dropdown">
            <img src="assets/Admin/photos/AdminAvater.png" class="user-image" alt="Admin Image">
            <span class="hidden-xs">{{adminName}}</span>
          </a>
          <ul class="dropdown-menu" style="margin-top:15px;color:white;">
      
            <li class="user-header">
              <img src="assets/Admin/photos/AdminAvater.png" class="img-circle" alt="User Image">

              <h5>{{adminName}}
                  <br>
                  {{adminMail}}
                </h5>
            </li>
        
            <li class="user-footer" style="background-color: #E7E6E6;height:45px;padding:0px;">
              <div class="pull-left">
                <a href="#" class="btn" style="font-size:11px;padding:10px;width:87px;border :0.5px solid green; border-radius: 10px; color:green;" >Profile</a>
              </div>
              <div class="pull-right">
                <a href="#" class="btn" style="font-size:11px;padding:10px;width:87px;border :0.5px solid red;  border-radius: 10px; color:red;">Sign out</a>
              </div>
            </li>
          </ul>
        </li> -->
        <li>
          <button type="button" (click)="signout()" class="btn btn-outline-danger"><i class="fa fa-sign-out"></i>Signout</button>
        </li>
      </ul>
    </div>
 
  </nav>

</header>