/*Now the styles*/
* {
    margin: 0; 
    padding: 0;
}

body{
    background-image: url("bgblur.jpg"); 
    width: 100%; height: 100%;
}

.bg {
    background-image: url("bgblur.jpg");
}

/*Time to apply widths for accordian to work
Width of image = 640px
total images = 5
so width of hovered image = 640px
width of un-hovered image = 40px - you can set this to anything
so total container width = 640 + 40*4 = 800px;
default width = 800/5 = 160px;
*/

.accordian {
    background: #ccc; 
    font-family: arial, verdana, tahoma;
    width: 805px; height: 320px;
    overflow: hidden;
    /*Time for some styling*/
    margin: 0px auto;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
    -webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
}

.accordian ul {
    width: 1200px;
}

.accordian li {
    position: relative;
    display: block;
    width: 160px;
    float: left;
    
    border-left: 1px solid #888;
    
    box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
    
    /*Transitions to give animation effect*/
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    /*If you hover on the images now you should be able to 
    see the basic accordian*/
}

/*Reduce with of un-hovered elements*/
.accordian ul:hover li {width: 40px;}
/*Lets apply hover effects now*/
/*The LI hover style should override the UL hover style*/
.accordian ul li:hover {width: 640px;}

.accordian li img {
    display: block;
}

/*Image title styles*/
.image_title {
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 0; bottom: 0; 
width: 640px;   

}
.image_title b {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 20px;
    font-size: 16px; 
}

.content {
    background-image: url("c5.png");
    background-repeat: no-repeat;
    width: 100%; height: 600px;
    position: absolute;
}
