<!-- 
<!-- Navigation -->
<!-- <nav class="navbar navbar-expand navbar-dark bg-dark fixed-top" id="mainNav">
	<div class="container">
		<a class="navbar-brand js-scroll-trigger" href="#page-top">Online Quiz Application</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
		 aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarResponsive">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item">
					<a class="nav-link js-scroll-trigger" href="#about">Quick Test</a>
				</li>
				<li class="nav-item">
					<a class="nav-link js-scroll-trigger" href="#services">Services</a>
				</li>
				<li class="nav-item">
					<a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
				</li> -->
				<!-- <li class="nav-item">
				<button class=" btn btn-outline-primary" (click)="login()">Login</button></li>&nbsp;&nbsp;&nbsp;
				<li class="nav-item">
				<button class="btn btn-outline-primary" (click)="signup()">SignUp</button></li> -->
			<!-- </ul>
		</div>
	</div>
</nav>

<header class="bg-primary text-white" style="margin-top:5%;">
	<div class="container text-center">
		<h1>Welcome to Online Quiz Application</h1>
		<div class="typewriter">
			<h1 class="typewriter">It's a place where you can learn and enjoy.</h1>
		</div>

	</div>
</header>


<section id="about">
	<div class="container">
			<div class="row">
					<div class="col-sm-12">
						<div class="card">
							<img class="card-img-top" src="assets/Login/images/question-mark-1872634_1920.jpg" alt="Card image">
			
							<div class="card-body">
								<h3 class="white">Create your own, customized quiz and challenge your colleagues to test knowledge. It'll be
									fun, we assure!</h3>
								<div class="title">
									
								</div>
								<button data-toggle="modal" data-target="#modal1" class="btn btn-primary " >Quick Play</button>
			
			
							</div>
						</div>
					</div>
	</div>
	</div>
</section>

<section id="services" class="bg-light">
	<div class="row">
		<div class="col-sm-4">
			<div class="card">
				<img class="card-img-top" src="assets/Login/images/createQuiz.jpg" alt="Card image">

				<div class="card-body">
					<h3 class="white">Create your own, customized quiz and challenge your colleagues to test knowledge. It'll be
						fun, we assure!</h3>
					<div class="title">
						<h4>Create a Quiz</h4>
					</div>
					<button data-toggle="modal" data-target="#modal1" class="btn btn-primary" (click)="login1()" >Create Quiz</button>


				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="card">
				<img class="card-img-top" src="assets/Login/images/popularQuiz.jpg" alt="Card image">

				<div class="card-body">

					<h3 class="white">Take up the quizes created by your friends, teachers and even by experts and explore your knowledge!</h3>
					<div class="title">
						<h5>Attempt a Quiz</h5>

					</div>
					<button data-toggle="modal" data-target="#modal1" class="btn btn-primary" (click)="login1()" >Attempt Now</button>


				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="card">
				<img class="card-img-top" src="assets/Login/images/recentlyAdded.jpg" alt="Card image">
				<div class="card-body">


					<h3 class="white">You can share a quiz and offer others a fun experience that will challengeand motivate them.</h3>
					<div class="title">
						<h4>Share a Quiz</h4>

					</div>
					<button data-toggle="modal" data-target="#modal1" class="btn btn-primary" (click)="login1()">Share Quiz</button>


				</div>
			</div>
		</div>
	</div>
</section>

<section id="contact">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 mx-auto">
				<h2>Contact us</h2>
				<p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero odio fugiat voluptatem dolor,
					provident officiis, id iusto! Obcaecati incidunt, qui nihil beatae magnam et repudiandae ipsa exercitationem, in,
					quo totam.</p>
			</div>
		</div>
	</div>
</section> -->

<!-- Footer -->
<!-- <footer class="py-5 bg-dark">
	<div class="container">
		<p class="m-0 text-center text-white">Copyright &copy; Your Website 2017</p>
	</div> -->
	<!-- /.container -->
<!-- </footer> --> 
<nav class="navbar navbar-expand-lg navbar-light"style="background-color:#ffffff;">
	<a class="navbar-brand" href="#">Online Quiz Application</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
	  <span class="navbar-toggler-icon"></span>
	</button>
  
	<div class="collapse navbar-collapse" id="navbarTogglerDemo02">
	  <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
		<li class="nav-item active">
		  <a class="nav-link" href="#">Introduction <span class="sr-only">(current)</span></a>
		</li>
		<li class="nav-item active">
		  <a class="nav-link" href="#">QuickTest</a>
		</li>
		<li class="nav-item active">
		  <a class="nav-link" href="#">Services</a>
		</li>
	  </ul>
	  <form class="form-inline my-2 my-lg-0">
		<button class="btn btn-outline-primary my-2 my-sm-0"  (click)="login()">SignIn</button>&nbsp;
		<button class="btn btn-outline-primary my-2 my-sm-0"  (click)="signup()">SignUp</button>
	  </form>
	</div>
  </nav>
  <div class="jumbotron">
	<h1 class="display-4"><strong>Welcome</strong></h1>
	<h2 class="lead"><strong>Online Quiz Application</strong></h2>
	<hr class="my-4">
	<p>It's a place where you can learn and enjoy.</p>
	<p class="lead">
	  <a class="btn btn-primary btn-lg"  role="button" (click)="login1()">Quick Play</a>
	</p>
  </div>
  
  <div class="card-div">
	  <div class="row">
		  <div class="col-sm-4">
			  <div class="card">
				  <img class="card-img-top" src="assets/Login/images/createQuiz.jpg" alt="Card image cap" style="height:250px;">
				  <div class="card-body">
					<p class="card-text">Create your own, customized quiz and challenge your colleagues to test knowledge. It'll be
						fun, we assure!</p>
						<button  class="btn btn-primary " (click)="login1()" >Create Quiz</button>
				  </div>
				</div>
			</div>
		  
			<div class="col-sm-4">
				<div class="card">
					<img class="card-img-top" src="assets/Login/images/popularQuiz.jpg" alt="Card image cap" style="height:250px;">
					<div class="card-body">
					  <p class="card-text">Take up the quizes created by your friends, teachers and even by experts and explore your knowledge!</p>
					  <button class="btn btn-primary" (click)="login1()" >Attempt Now</button>
					</div>
				  </div>
			  </div>
			  <div class="col-sm-4">
				  <div class="card">
					  <img class="card-img-top" src="assets/Login/images/recentlyAdded.jpg" alt="Card image cap" style="height:250px;">
					  <div class="card-body">
						<p class="card-text">You can share a quiz and offer others a fun experience that will challengeand motivate them.</p>
						<button  class="btn btn-primary" (click)="login1()">Share Quiz</button>
					  </div>
					</div>
				</div>
		</div>
	  </div>
	  <div id="footer">
		  <div class="container">
			<p class="footer-block">Place sticky footer content here.</p>
		  </div>
		</div>
  
