

<div  style="padding-bottom : 10%;">
    <h1 style="text-align:center;font-family:Times New Roman">ABOUT</h1><br>
<div class="mydiv">
<p style="padding:15px;">
<br>
  OneClick.com, Inc., doing business as OneClick is an Indian e-commerce 
  and cloud computing company based in Tamilnadu,Chennai, that was founded by expertise,prodigy,
  husbandType and Pammu on December 11,2018.<br><br><br>The tech giant is the largest Internet 
  retailer in the world as measured by revenue and market capitalization, and second largest after Alibaba Group 
  in terms of total sales.<br><br><br>The OneClick.com website started as an online bookstore 
  and later diversified to sell video downloads/streaming, MP3 downloads/streaming, audiobook downloads/streaming, 
  software, video games, electronics, apparel, furniture, food, toys, and jewelry.<br><br><br> 
  The company also owns a publishing arm, OneClick Publishing, a film and television studio, OneClick Studios, produces 
  consumer electronics lines including Kindle e-readers, Fire tablets, Fire TV, and Echo devices.<br><br><br>
  OneClick also sells certain low-end products under its in-house brand OneClickBasics.
  <br>
  </p>
</div>
</div>







