body {
    margin:0;
    padding:0;
    width:100%;
    height: 100%;
    background-image: url('/assets/listBooks-bg.jpg');
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}