.heading{
    display: flex;
  justify-content: center;
}
.body {
    width:50%;
    margin: auto;
    border: 3px solid #1a63d1;
    padding: 10px;
    text-align: center;
    background-color: whitesmoke;
}