.container {
  min-height:100%;
  max-height:100%;
  max-width:100%;
  min-height:100%;
  
  }
.h2
{padding-right: 11%;


}

  .bg-img {
      background-image:url("src/assets/images/bg1.jpg");  
    font-family:'PT Sans',Helvetica, Arial, sans-serif;
    color:black;
       background-repeat: repeat;
       background-size:cover;
       min-height:100%;
       max-height:100%;
       max-width:100%;
       min-height:100%;
       


}
    
  
  h1 {
    font-size: 30px;
    font-weight: 700;
    text-shadow:0 1px 4px rgba(0,0,0,.2);
    text-align:center;
    color:white;
  }
  
  form {
  position:static;
  width:50%;
  height:1000px;
  margin:15px auto 0 auto;
  text-align:center;
  
  }
  .conta{
      float:right;
  }
  input {
  width:270px;
  height:42px;
  margin-top:25px;
  padding:0 15px;
  background:#2d2d2d;
  background:rgba(45,45,45,.15);
  -moz-border-radius: 6px;
  -webkit-border-radius:6px;
  text-align:center;
  border-radius:16px;
  border:1px solid white;
  border:1px solid white;
  -moz-box-shadow:0 2px 3px 0 rgba(0,0,0,.1) inset;
  -webkit-box-shadow: 0 2px 3px 0 rgba(0,0,0,.1) inset;
  box-shadow: 0 2px 3px 0 rgba(0,0,0,.1) inset;
  font-family: 'PT Sans', Helvetica, Arial, sans-serif;
  font-size:16px;
  color:#fff;
  text-shadow:0 1px 2px rgba(0,0,0,.1);
  -o-transition: all .2s;
  -moz-transition: all .2s;
  -webkit-transition: all .2s;
  -ms-transition: all .2s;
  }
  
  input:-moz-placeholder { color: white; }
  input:-ms-input-placeholder { color:white; }
  input::-webkit-input-placeholder { color: white; }
  
  input:focus {
  outline:grey;
  -moz-box-shadow:
          0 2px 3px 0 rgba(0,0,0,.1) inset,
          0 2px 7px 0 rgba(0,0,0,.2);
  -webkit-box-shadow:
          0 2px 3px 0 rgba(0,0,0,.1) inset,
          0 2px 7px 0 rgba(0,0,0,.2);
  box-shadow:
          0 2px 3px 0 rgba(0,0,0,.1) inset,
          0 2px 7px 0 rgba(0,0,0,.2);
  }
  
  .btn1 {
  cursor:pointer;
  width:200px;
  height:44px;
  margin-top:25px;
  padding:0;
  background-color:#89253e ;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  border:1px solid #89253e;
  -moz-box-shadow:
          0 15px 30px 0 rgba(255,255,255,.25) inset,
          0 2px 7px 0 rgba(0,0,0,.2);
  -webkit-box-shadow:
          0 15px 30px 0 rgba(255,255,255,.25) inset,
          0 2px 7px 0 rgba(0,0,0,.2);
  box-shadow:
          0 15px 30px 0 rgba(255,255,255,.25) inset,
          0 2px 7px 0 rgba(0,0,0,.2);
  font-family:'PT Sans', Helvetica, Arial, sans-serif;
  font-size:14px;
  font-weight:700;
  color:#fff;
  text-shadow:0 1px 2px rgba(0,0,0,.1);
  -o-transition: all .2s;
      -moz-transition: all .2s;
      -webkit-transition: all .2s;
      -ms-transition: all .2s;
  }
  
  .btn1:hover {
      -moz-box-shadow:
          0 15px 30px 0 rgba(255,255,255,.15) inset,
          0 2px 7px 0 rgba(0,0,0,.2);
      -webkit-box-shadow:
          0 15px 30px 0 rgba(255,255,255,.15) inset,
          0 2px 7px 0 rgba(0,0,0,.2);
      box-shadow:
          0 15px 30px 0 rgba(255,255,255,.15) inset,
          0 2px 7px 0 rgba(0,0,0,.2);
  }
  
  .btn1:active {
      -moz-box-shadow:
          0 15px 30px 0 rgba(255,255,255,.15) inset,
          0 2px 7px 0 rgba(0,0,0,.2);
      -webkit-box-shadow:
          0 15px 30px 0 rgba(255,255,255,.15) inset,
          0 2px 7px 0 rgba(0,0,0,.2);
      box-shadow:        
          0 5px 8px 0 rgba(0,0,0,.1) inset,
          0 1px 4px 0 rgba(0,0,0,.1);
  
      border: 0px solid #ef4300;
  }
  
  
  #p
  {font-size:18px;
      color:red;
  }


    
  .btn {
    cursor:pointer;
    width:130px;
    height:44px;
    margin-top:25px;
    padding:0;
    background:#008CBA;;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border:1px solid grey;
    -moz-box-shadow:
            0 15px 30px 0 rgba(255,255,255,.25) inset,
            0 2px 7px 0 rgba(0,0,0,.2);
    -webkit-box-shadow:
            0 15px 30px 0 rgba(255,255,255,.25) inset,
            0 2px 7px 0 rgba(0,0,0,.2);
    box-shadow:
            0 15px 30px 0 rgba(255,255,255,.25) inset,
            0 2px 7px 0 rgba(0,0,0,.2);
    font-family:'PT Sans', Helvetica, Arial, sans-serif;
    font-size:14px;
    font-weight:700;
    color:#fff;
    text-shadow:0 1px 2px rgba(0,0,0,.1);
    -o-transition: all .2s;
        -moz-transition: all .2s;
        -webkit-transition: all .2s;
        -ms-transition: all .2s;
    }
    
    .btn:hover {
        -moz-box-shadow:
            0 15px 30px 0 rgba(255,255,255,.15) inset,
            0 2px 7px 0 rgba(0,0,0,.2);
        -webkit-box-shadow:
            0 15px 30px 0 rgba(255,255,255,.15) inset,
            0 2px 7px 0 rgba(0,0,0,.2);
        box-shadow:
            0 15px 30px 0 rgba(255,255,255,.15) inset,
            0 2px 7px 0 rgba(0,0,0,.2);
    }
    
    .btn:active {
        -moz-box-shadow:
            0 15px 30px 0 rgba(255,255,255,.15) inset,
            0 2px 7px 0 rgba(0,0,0,.2);
        -webkit-box-shadow:
            0 15px 30px 0 rgba(255,255,255,.15) inset,
            0 2px 7px 0 rgba(0,0,0,.2);
        box-shadow:        
            0 5px 8px 0 rgba(0,0,0,.1) inset,
            0 1px 4px 0 rgba(0,0,0,.1);
    
        border: 0px solid #ef4300;
    }
  
  
  