<body>
   
<div class="conf-modal center success">
    <div class="title-icon">
      <img src="http://jimy.co/res/icon-success.jpg">
    </div>
    <div class="title-text"><h1>Success!</h1></div>
    <p>Your booking has been confirmed. </p>
    <div class="modal-footer">
      <a class="conf-but green" [routerLink]="['/ViewBookings']">View Booking</a>&nbsp;&nbsp;
    <div class="modal-footer-red">
      <a class="conf-but"  [routerLink]="['']" >Exit</a>   
     </div>  
    </div>
    <br/>
  </div>
</body>
