<div class="container" style="margin-top:10rem">  
            
        

 
<body>
        <h1>Choose Your Car</h1>

<div>
       <a  (click)="showCarname('kwid')"> <img src="assets/img/Renault-Kwid.jpg" />
     </a>
    
     <a  (click)="showCarname('duster')"> <img src="assets/img/duster.jpg" />
     </a>
    
     <a (click)="showCarname('lodgy1')"> <img src="assets/img/lodgy1.jpg" />
     </a>
     <a (click)="showCarname('Captur')"> <img src="assets/img/Renault-Captur.jpg" />
     </a>
    </div>
    
</body>
</div>