<div style="background-image: url('assets/img/forgotpass.jpg');background-repeat:no-repeat;">

               
  <div class="container-fluid" style="margin-top:70px;padding-left: 10rem">  
         
        
                  
  
  <div class="bg"style="height:55rem;width:30%;">
      <h3>Forgot Password</h3>


  <form [formGroup]="form"  #frm (ngSubmit)="UpdatePassword()" >
          <div class="alert alert-danger" *ngIf="form.errors">Enter all Details</div>
          EmailId<span class="req">*</span>
      <div class="form-group">
          <input type="text" name="emailId" class="form-control" formControlName="emailId" [(ngModel)]="register.emailId">
          <div class="alert alert-danger" *ngIf="form.get('emailId').touched&&form.get('emailId').invalid">
            <div *ngIf="form.get('emailId').errors.required">EmailId is required</div>
          </div>
      </div>
      New Password<span class="req">*</span>
      <div class="form-group">
          <input type="password" name="password" class="form-control" formControlName="password" [(ngModel)]="register.password">
          <div class="alert alert-danger" *ngIf="form.get('password').touched&&form.get('password').invalid">
              <div *ngIf="form.get('password').errors.required">Password is required</div>
              <div *ngIf="form.get('password').errors.minlength">Minimum length is 5</div>
            </div>
      </div>
      

      <div class="form-group">
          <button  class="btn btn-primary">Save</button>
          <button class="btn btn-primary" style="margin:5px" (click)="login()">Back</button>
      </div>
  </form>
      
    
</div>