input
{
    background-color: cornsilk;
    color: crimson;
}
a
{
    font-size: 25px;
    color:white;
    display: block;
    text-decoration: none;

}
.nav
{
    background-color: darkcyan;
    padding: 10px;
}

label{
    font-size: 20px;
    padding: 10px;
    font-family: cursive;
    font-style: inherit;
}

h4{
    padding: 10px;
    color: brown;
}

button{
    padding: 5px;
    margin: 10px;
    height: 30px;
    width: 100%;    
    font-size: 15px;
}
h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: oblique;
    font-stretch: expanded;
    color: steelblue;
}
ul li
{
    padding: 20px;
}
body
{
	margin:0;
    padding:0;
    width:100%;
    height: 100%;
    background: url('/assets/userHome-bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
a:hover {
    color:black;
    background: white;
    border-radius: 5px;
    width: 105%;
    height: 115%;
    margin-top: -3%;
    text-decoration-line: none;
}
