
<div class="main" style="padding: 3%;">
  <div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-md-6" style="padding:0.5%;">
            <div class="bg bg-left">
              <h2>Create a new Quiz</h2>
              <button type="button" class="btn btn-primary" style="float:right;position: relative;" (click)="createQuiz()">Create Quiz</button>
            </div>
        </div>
        <div class="col-xs-12 col-md-6" style="padding:0.5%;">
              <div class="bg bg-right">
              <h2>Modify an existing Quiz</h2>
              <button type="button" class="btn btn-primary" style="float:right;position: relative;">Modify Quiz</button>
            </div>
        </div>
    </div>
  </div>
  </div>