
<div class="container-fluid jumbotron" id="lion" style="position:center;">
  <div class="row mx-10">
    
    <div class="card col-lg-4 col-sm-3 ">
      <img class="card-img-top" src="assets/User/pictures/createQuiz.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title" style="font-size: 20px;   font-weight: bold; color: #3480f9; ">Create Quiz</h5>
        <hr>
        <p class="card-text">Create your own, customized quiz and challenge your colleagues to test knowledge. It'll be
          fun, we assure.</p>
      </div>
      <div class="card-footer mx-10">
        <small class="text-muted">
          <a href="#"> Read More </a>
          <button type="button" class="btn btn-outline-info float-right"> <i class="fa fa-edit text-aqua"></i> Create
          </button>
        </small>
      </div>
    </div>

    <div class="card col-lg-4 col-sm-4">
      <img class="card-img-top" src="assets/User/pictures/takeQuiz.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title" style="font-size: 20px;   font-weight: bold; color: #3480f9; "> Attempt Quiz </h5>
        <hr>
        <p class="card-text">Take up the quizzes created by your friends, teachers and even by experts.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">
          <a href="#"> Read More </a>
          <button type="button" (click)="attemptQuiz()" class="btn btn-outline-info float-right"> <i class="fa fa-try"
              aria-hidden="true"></i> Attempt </button>
        </small>
      </div>
    </div>



    <div class="card col-lg-4 col-sm-3" >
      <img class="card-img-top" src="assets/User/pictures/popularQuiz.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title" style="font-size: 20px;   font-weight: bold;  color: #3480f9;">Popular Quiz</h5>
        <hr>
        <p class="card-text"> Are you updated with your skils? Test your knowledge by taking up the most popular
          quizzes.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">
          <a href="#"> Read More </a>
          <button type="button" class="btn btn-outline-info float-right"> <i class="fa fa-eye" aria-hidden="true"></i>
            View </button>
        </small>
      </div>
    </div>
    <!-- <div class="card col-md-3 col-sm-3 cat" style="margin: 50px 10px 10px 10px;">
        <img class="card-img-top" src="/assets/recentlyAdded.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title" style="font-size: 20px;   font-weight: bold;  ">Recently Added Quiz </h5>
          <hr>

          <p class="card-text"> Take the quizzes on current hot topics, Test your knowledge and see where you stand.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">
            <a href="#"> Read More </a>
            <button type="button" class="btn btn-outline-info float-right"> <i class="fa fa-eye" aria-hidden="true"></i> View </button> 
          </small>
        </div>
      </div> -->
  </div>
</div>