

<div class="bodyu" style="padding-top:5%; text-align: center;">
    <div style="padding-left: 50%;" ><button class="btn btn-default" (click)="petregister()" style="opacity: .7;border-width: 8px; border-color:orangered"><a style="padding:21px;"><p style="width:100%; padding:26px; font-size:40px;">PET REGISTRATION</p></a></button>
    </div>
    <br>
    <div style="padding-left: 50%;" ><button  (click)="customerlist()" class="btn btn-default" style="opacity: .7;border-width: 8px; border-color:orangered"><a style="padding:21px;"><p style="width:100%; padding:46px; font-size:40.3px;">CUSTOMERS LIST</p></a></button>
      
    </div>
    <br>
    <div style="padding-left: 50%;"><button (click)="navigate()" class="btn btn-default"style="opacity: .7; border-width: 8px; border-color:orangered" ><a routerLink="logout"><p  style="width:100%; padding:45px; font-size:41.6px;">ADMIN - LOGOUT</p></a></button>
    </div>
  </div>