<html>
<head>
<meta name='viewport' content='width=device-width, initial-scale=1'>
<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.5.0/css/all.css' integrity='sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU' crossorigin='anonymous'>
</head>
<body>
    <div class="container" style="background: transparent;">
  <h1>ABOUT US</h1>

<p>
    Petsters is an online, searchable database of animals who need homes. It is also a directory of nearly 11,000 animal shelters and adoption organizations across the U.S., Canada and Mexico. Organizations maintain their own home pages and available-pet databases.
</p>
<h3>Our mission</h3>
<p>
    To use Internet technology and the resources it can generate to:
</p>

<p>
  1.  Increase public awareness of the availability of high-quality adoptable pets.<br>
  2.  Increase the overall effectiveness of pet adoption programs across North America to the extent that the euthanasia of adoptable pets is eliminated.<br>
  3.  Elevate the status of pets to that of family member.
</p>

<p>
    From the comfort of their personal computers, pet lovers can search for a pet that best matches their needs. They can then reference a shelter’s web page and discover what services it offers. petsters also includes discussion forums, a pet-care resource directory and a library of free pet-care articles to help keep pets in their homes.
</p>
<p>
    Petsters is updated DAILY.
</p>
<p>
    Organizations wishing to participate should register. A contact person should be responsible for direct communications with petsters.<br>
    Only nonprofit organizations will be included (but Federal 501(c)(3) status is not necessary).
</p>
<p>
    Petsters is made up of animal-care professionals and regular people volunteering for their local animal welfare organizations all working together to maintain active and accurate homeless pet lists. Most animal welfare volunteers have “real jobs” by day. The success and the magnitude of this project is largely due to their tireless efforts to make a difference. If you would like to help, let us know! You can find us at <a href=#>https://www.petsters.com/</a>. Email: <a href="#">pets@petsters.com</a>.
</p>
<h3>Disclaimer</h3>
<p>
    Petsters is only a directory of homeless pets and pet adoption organizations. No information in Petsters is guaranteed. Although the information on Petsters is updated frequently, it is always best to call the facility or organization that lists the pet to insure it is still available and to insure the information listed in Petsters is accurate. It is crucial that any pet found through an adoption service be thoroughly examined by a veterinarian immediately upon adoption. Any pets found, adopted through, or listed in Petsters are the sole responsibility of the adoption organizations and/or the adopting party.
</p>
<p>
    Petsters accepts no responsiblity for any liability or for any injury or damages to any person or property caused by any listed animal, as well as any cause of action, claims, suits or demands whatsoever that may arise as a result of such injury or damage.
</p>

  </div>
</body>
</html>
