<html>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <h3 class="syn">
        Synopsis
        </h3>
<div class="summ">

<p>{{user1.description}}</p>
</div>
<div class="w3-container w3-padding-64 w3-center" id="team">
    <h4>Cast</h4>
   
    
    <div class="w3-row"><br>
    
    <div class="w3-quarter">
      <img src="assets/{{user1.cast1name}}.jpg" alt="Boss" style="width:25%" class="w3-circle w3-hover-opacity">
      <h3>{{user1.cast1name}}</h3>
      
    </div>
    
    <div class="w3-quarter">
      <img src="assets/{{user1.cast2name}}.jpg" alt="Boss" style="width:25%" class="w3-circle w3-hover-opacity">
      <h3>{{user1.cast2name}}</h3>
     
    </div>
    
    <div class="w3-quarter">
      <img src="assets/{{user1.cast3name}}.jpg" alt="Boss" style="width:25%" class="w3-circle w3-hover-opacity">
      <h3>{{user1.cast3name}}</h3>
      
    </div>
    
    <div class="w3-quarter">
      <img src="assets/{{user1.cast4name}}.jpg" alt="Boss" style="width:25%" class="w3-circle w3-hover-opacity">
      <h3>{{user1.cast4name}}</h3>
     
    </div>
    
    </div>
    </div>
    
</html>