<body>
  <app-admin-home></app-admin-home>
  <div class="jumbotron" style="background:transparent;">
    <table class="table table-striped table-dark" style="border-radius:6px;">
      <thead class="thead-light">
        <tr>
          <th>Email ID</th>
          <th>Name</th>
          <th>Password</th>
          <th>Contact</th>
          <th></th>
        </tr>
      </thead>

      <tr *ngFor="let user of list">
        <td>{{user.borrowerEmail}}</td>
        <td> {{user.borrowerName}}</td>
        <td> {{user.borrowerPassword}}</td>
        <td> {{user.borrowerContact}}</td>
        <td><input type="button" class="btn btn-danger" value="delete" (click)="deleteuser(this.user)"></td>
      </tr>
    </table>
  </div>
</body>