body {
    margin:0;
    padding:0;
    width:100%;
    height: 100%;
    background-image: url('/assets/listBorrowers-bg.jfif');
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}