.sidenav{
  margin-left:0;
  margin-right:0;
  float:left;
  width:11%;
  background-color: #333;
  height:1000px;
}
.sidenav button{
  text-align:center;
  padding:1.15%;
  display:block;
  color: white;
}
@media all and (max-width: 420px) {
.sidenav {
    float: none;
    width: auto;
  height:auto;
  }
.sidenav button{
  float:none;
    display:inline-block;
}
}
.navbar button{
  
  color: white;
}
#head1,#head2,#head3,#head4,#head5,#head6{
  font-size: 23px;
  font-family: 'Arial ';

}