
               <footer class="buttom-footer py-lg-4 py-md-3 py-sm-3 py-3">
                <div class="footercolor">

                <section >
                   <div class="container py-lg-5 py-md-5 py-sm-4 py-4">
                      <div class="">
                         <div class="row footer-agile-grids ">
                            <div id="f1" class="col-lg-4 col-md-4 col-sm-12 wthree-left-right">
                               <h4 class="pb-lg-3 pb-3">About Us</h4>
                               <div class="footer-info">
                                  <p class="text">It is one of the India's largest private sector banks. <br/>SSN bank currently has network of one branch.</p>
                               </div>
                               <div class="icons mt-lg-4 mt-3 text-left">
                                  <ul>
                                     <li><a href="#" style="color:white"><i class="fa fa-facebook-f"></i></a></li>
                                     <li><a href="#" style="color:white"><i class="fa fa-envelope"></i></a></li>
                                     <li><a href="#" style="color:white"><i class="fa fa-rss"></i></a></li>
                                     <li><a href="#" style="color:white"><i class="fa fa-vk"></i></a></li>
                                  </ul>
                               </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12 wthree-left-right">
                               <h4 id="f2" class="pb-lg-3 pb-3">Nav Links</h4>
                               <nav class="border-line">
                                  <ul class="nav flex-column">
                                     <li class="nav-item active">
                                        <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
                                     </li>
                                     <li class="nav-item">
                                        <a href="#about" class="nav-link scroll">About</a>
                                     </li>
                                     <li class="nav-item">
                                        <a href="#service" class="nav-link scroll">Partners</a>
                                     </li>
                                     <li class="nav-item">
                                        <a href="#testimonials" class="nav-link scroll">Clients</a>
                                     </li>
                                    
                                  </ul>
                               </nav>
                            </div>
                            <div class="wthree-left-right col-lg-4 col-md-4 col-sm-12">
                               <h4 id="f3" class="pb-lg-3 pb-3">Get In Touch</h4>
                               <div class="bottom-para pb-3">
                                  <p class="text">ASV Suntech Park,Mettukuppam,Thoraipakam,Chennai<br>TamilNadu</p>
                               </div>
                               <div class="bottom-para">
                                  <p class="text">+(000) 123 4567 89 <br>+(010) 123 4565 354</p>
                               </div>
                               <div class="bottom-para pt-3">
                                  <p><a href="mailto:info@example.com" style="color:white">swass@ssn.com</a> 
                                     <br><a href="mailto:info@example.com" style="color:white">mgb@ssn.com</a>
                                  </p>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </section>
             </div>
                <div class="copy-agile-right text-center">
                   <h2 class="my-3"><a href="index.html">SSN</a></h2>
                   <p> 
                      © 2018 SSN . All Rights Reserved | Design by <a href="http://www.SSNBanking.com" target="_blank">SSNBanking</a>
                   </p>
                </div>
             </footer>