
  <app-admin></app-admin>
  <div class="bg-img">
   
      <div class="container">
          <div class="container1">
        
        <form  (ngSubmit) = "addaccount(account)" >
            <div class="form-group">
                <label for="address" class="label"><b> Account Number</b></label>
        <input  type = "text"  class="form-control" name = "title" placeholder="Enter  Accno."   [(ngModel)]="account.accno" >
            </div>
            <div class="form-group">           
              <label for="ifsccode" class="label"><b>IFSC Code</b></label>
            <input  type = "text" class="form-control" name = "title" placeholder="Enter ifsc Code"  [(ngModel)]="account.ifsccode">
          </div>  
           <div class="form-group">
            <label for="address" class="label"><b>Account Balance</b></label>  <br/>
            <input  type = "text" class="form-control" name = "title" placeholder="Enter Account Balance"  [(ngModel)]="account.balance">
            
            
          </div>
          <div class="form-group">

          <input type = "submit"  class="btn" value = "Add">
          </div>
         </form>
         <p class="p"><b><i>{{statusCreation}}</i> </b></p>
        
        </div>
        </div>
        <div>
          <router-outlet></router-outlet>
        </div>
      