<app-mainpage></app-mainpage>

 
  
<div class="bg-img"> 

    

    
     <br/>
     <br/> 

     <br/> 

     <br/> 

          
       
   
    <div class="container">     
            <div class="table-responsive">
    <table class="table">
        <tr>
            <td><font  face="Arial" size="5px"><b>Available Balance </b></font></td>
            
            <td><font  face="Arial" size="5px"><b>:</b></font></td>

            <td><font face="Arial" size="5px"><b>{{account.balance}} </b></font></td>
        </tr>
    
    
                
                 </table>
              
    </div>
             
             

    </div>
    
    </div> 
    <div>
        <router-outlet></router-outlet>
      </div>