body, html {
  height: 100%;
 
}

* {
  box-sizing: border-box;
}

 .bg-img {
 
  background-image: url("src/assets/images/login.jpg");

  min-height: 700px;
  min-width: 100%;



  background-repeat: no-repeat;
  background-size: cover;

} 

/* Add styles to the form container */
.container {
  right: 0;
  margin: 2%;
  /* margin-left: 500px; */
  margin-color:#D4AF37;
  
  max-width: 370px;
 border:solid;
 margin-top:20%;
 border-color: silver;
 position:center;

  padding: 25px;
  background-color: #D7DBDD;
  /* position: relative; */


 
}

/* Full-width input fields */
  input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  font-size: 15px;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit button */
.btn {
  background-color:#008CBA;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  font-size: 16px;
  font-family:Arial ;

}

.btn:hover {
  opacity: 1;
}
h1{
font-family:Arial ;
  font-style:normal;
  color:black;
  font:bold;
}

.label{
font-family:Arial ;
font-size:18px;
  font-style:italic;
  color:black;
  font-focus:20px;
}
::placeholder {
  color: black;
  font-family:Arial ;

  opacity: 1; /* Firefox */
}
#head6{
  width: 50%;
  height:10%;
  background-color:transparent;
  color: red;
  border: none;
  cursor: pointer;
  opacity: 0.9;
  font-size: 16px;
 


  font-family:Arial ;


}
#head7{
  width: 50%;
  height:10%;
  background-color:transparent;
  color: green;
  border: none;
  cursor: pointer;
  opacity: 0.9;
  font-size: 16px;
 

  font-family:Arial ;


}