<div class="bg-img">
  <div class="col-lg-4">
  </div>
  <div class="col-sm-5 col-md-4 col-lg-4 lg">
    <form (ngSubmit) = "login()" class="container">
    
      <h1 align="center">Login</h1>
      <br> 
      <input type="text" placeholder="Enter UserId" name="uid" [(ngModel)]="login1.uid"required>
  
      <input type="password" placeholder="Enter Password" name="psw" [(ngModel)]="login1.password" required>
  
      <button type="submit" class="btn">Login</button><br/><br/>
      <p><button (click)="signupbtnClick()" class="btn btn-link" id="head6">Click here to Register</button> <button (click)="home()" class="btn btn-link" id="head7">Home</button></p>



    </form>
    </div>

  </div>





























  